.container nav{
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.1)), url("/assets/hero.png");
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding-right: 300px;
  padding-top: 40px;
}
